body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
   min-width: 320px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.guitar-neck-container {
    margin-top: 150px;
    position: relative;
    width: 1500px;
    height: auto;
    min-width: 1500px; /* Garante largura mínima */
    margin-left: 200px; /* Adiciona espaço à esquerda */
    margin-right: 200px; /* Adiciona espaço à direita */
}

#guitar-neck {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
}

#canvas-overlay {
    position: absolute;
    top: 0;
    left: 109px;
    width: 1050px;
    height: 100%;
    pointer-events: auto;
    cursor: pointer;
}

#chord-name {
    position: fixed;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 1500px) {
    .container {
        margin-top: 100px;
        justify-content: flex-start; /* Alinha ao início para permitir rolagem completa */
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .guitar-neck-container {
        margin: 150px 200px; /* Mantém as margens mesmo em telas menores */
        margin-left: 0px;
        margin-right: 0px;
    }

    #chord-name {
        top: 120px;
        font-size: 30px;
    }
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    padding: 10px 0;
    z-index: 1000;
}